body {
    font-family: Arial;
}

table {
    margin-bottom: 30px;
}

.book-list,
.author-list {
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px;
}

th,
.book-list td,
.author-list td{
    border: 1px solid black;
}

input[type="text"],
select {
    padding: 5px;
    width: 250px;
    font-size: 14px;
}
